* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  position: relative;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  font-size: 1.2rem;
  padding: 5px 10px;
  min-width: 90px;
}

.form-control {
  font-size: 1.2rem;
}

.form-group label {
  display: block;
}

.page-title {
  margin-bottom: 15px;
}